{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}{% endblock %} cfe</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





<!-- Latest compiled and minified CSS -->
<!-- jQuery library -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="{% static 'css/my.css' %}" rel="stylesheet">
<style>
    {% block styles %}
    {% endblock %}
.background_img_thumb{
    width:100%;
            height:100%;
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center;
}
</style>
   
  </head>

  <body>


{% include "navebar.html" %}

    {% block jombotron %}
    {% endblock %}
    <div class="container">

{% block content %}
{% endblock %}
     
    </div> <!-- /container -->
<script type="text/javascript">
    {% block javascript %}
    {% endblock %}
</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
<script>
$(document).ready(function(){
    {% block jquery %}
    {% endblock %}
});
</script>

   
  </body>
</html>
